body {
	background-color: #323232;
	color: #ebebeb;
	font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	font-weight: normal;
	margin: 32px;
	
}

main {
	max-width: 800px;
}

a {
	color: #a2a1fd;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #a2a1fd;
}

header .nav-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: 8px;
}

nav {
	width: 100%;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 16px;
	padding: 0;
}

@media (max-width: 800px) {
	nav ul {
		flex-direction: column;
	}

	header .nav-wrapper {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
}

section {
	margin-bottom: 32px;
}

time {
	font-size: 12px;
	color: #7f7f7f;
	margin: 0;
}

footer {
	margin-top: 80px;
	font-size: 12px;
	border-top: 1px solid #909090;
	padding-top: 16px;
}

ul li {
	margin: 8px 0;
}

blockquote {
	border-left: 1px solid #909090;
	margin-left: 0px;
	padding: 2px 20px;
	font-size: 20px;
}