body {
	background-color: #323232;
	color: #ebebeb;
	font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	font-weight: normal;
	margin: 32px;
	max-width: 800px;
}

a {
	color: #a2a1fd;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #a2a1fd;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 16px;
	padding: 0;
}

@media (max-width: 400px) {
	nav ul {
		flex-direction: column;
	}
}

section {
	margin-bottom: 32px;
}

time {
	font-size: 12px;
	color: #7f7f7f;
	margin: 0;
}

footer {
	margin-top: 80px;
	font-size: 12px;
	border-top: 1px solid #909090;
	padding-top: 16px;
}

ul li {
	margin: 8px 0;
}