body {
	background-color: #323232;
	color: #ebebeb;
	font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	font-weight: normal;
	margin: 2rem;
	max-width: 800px;
}

a {
	color: #a2a1fd;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #a2a1fd;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 1rem;
	padding: 0;
}

section {
	margin-bottom: 2rem;
}

time {
	font-size: 0.75rem;
	color: #7f7f7f;
	margin: 0;
}

footer {
	margin-top: 5rem;
	font-size: 0.75rem;
	border-top: 1px solid #909090;
	padding-top: 1rem;
}

ul li {
	margin: 0.5rem 0;
}