---
title: Goodbye Sparky
tags: posts
layout: article.njk
date: 2026-01-17T15:57:01Z
--- 
<p>
11 years ago my wife and I moved to Columbus, the first step in our post-college life. I had started my first "real" job as a software engineer, and my wife had joined a research lab at one of the hospitals. 
</p>

<p>
During a work day in the first couple of weeks of my new position, I remember ducking into the hallway to take a call. My wife told me she had found a very small kitten. He had been meowing non-stop in  the bushes outside of her work, no signs of other cats around. I of course knew what that meant, and sure enough I was greeted by a cute ball of fluff when I got home that evening!
</p>

<p>
We were cautious introducing him into our already full apartment (especially when you considered our  leasing terms). The last thing we wanted to do was have our dog or other two cats scare the poor kitten. To that end, we setup a little fenced area in the spare bedroom and loaded it with toys. We slowly introduced the other animals and, after a few days, they seemed to welcome him.
</p>

<p>
I had recently traded my old Toyota Yaris for a Chevy Volt and was all aboard the EV train (heck my pumpkin that year was carved as the Chevy logo). So when the question of a name for our new family member came up, I threw Sparky into the ring, and that's what we landed on. And boy did he live up to that name, so full of energy!
</p>

<figure>
	<img src="/posts/sparky/sparky_kitten.jpeg" alt="The cutest little kitten you've ever seen sitting on a backpack"/>
	<figcaption>Sparky soon after he joined our family.</figcaption>
</figure>

<p>
Sparky was fast and so playful. He was easily the highest jumper in the world too. I remember we bought a toy that was essentially a stick with some wire and something on the end for him to bat at. He would scale walls to reach it, jumping halfway or higher up the wall before bouncing off. He would play so hard he would start panting, but still wouldn't be done!
</p>

<p>
Sparky and I became inseparable, literally. He would ride around on my shoulder and sleep on my chest. At night, he would plop on my head and groom me for hours. He tended to get a bit too into his grooming though, leading to him biting my ear in the middle of the night!
</p>

<p>
While full integration with the other 2 cats of the household took awhile, they eventually developed a deep bond. Bongbong, our older male cat, would get into grooming wars with him. They would both curl up together, taking turns grooming each other. This would escalate into "who can groom the best", until one of them finally ended it with a "boop" to the head, after which they would typically snuggle back up. Sparky became the de facto leader of the small group. The other cats would typically let him go first when it came to meals or catnip.
</p>

<p>
All this to say, Sparky was a very, very good cat. 
</p>

<p>
2 years ago a vet visit resulted in a cancer diagnosis for Spark. The vet gave him a few months, maybe a year if we were lucky. But the little guy was a fighter. I remember going to a checkup last year and the vet being shocked he was in such good shape. That winter his fur grew so puffy he looked healthier than ever. But we knew the inevitable would come.
</p>

<p>
Last night Sparky took a turn for the worse, we knew the time had come. I said my goodbyes to him, telling him how much I loved him, and that he was a great cat. Just after 11:00PM Sparky passed away.
</p>

<p>
We're all going to miss you little guy, you were a great friend.
</p>

<figure>
	<img src="/posts/sparky/sparky.jpg" alt="A beautiful, loved cat sitting on the desk"/>
	<figcaption>Sparky the day of his diagnosis.</figcaption>
</figure>