<article class="adventure" hx-boost="true">
	<main>
		{{ content | safe }}
	</main>
	<div class="actions">
		<div></div>
		<div>
			{% if north %}
				<a hx-swap="outerHTML" hx-target="article.adventure" href="/adventure/{{north}}">Go North</a>
			{% elif north_link %}
				<a target="_blank" href="{{ north_link }}">Go North (🔗)</a>
			{% else %}
				<button disabled>Go North</button>
			{% endif %}
		</div>
		<div></div>
		
		<div>
		{% if west %}
			<a hx-swap="outerHTML" hx-target="article.adventure" href="/adventure/{{west}}">Go West</a>
		{% elif west_link %}
				<a target="_blank" href="{{ west_link }}">Go West (🔗)</a>
		{% else %}
			<button disabled>Go West</button>
		{% endif %}
		</div>
		<div></div>
		<div>
		{% if east %}
			<a hx-swap="outerHTML" hx-target="article.adventure" href="/adventure/{{east}}">Go East</a>
		{% elif east_link %}
				<a target="_blank" href="{{ east_link }}">Go East (🔗)</a>
		{% else %}
			<button disabled>Go East</button>
		{% endif %}
		</div>
		
		<div></div>
		<div>
		{% if south %}
			<a hx-swap="outerHTML" hx-target="article.adventure" href="/adventure/{{south}}">Go South</a>
		{% elif south_link %}
				<a target="_blank" href="{{ south_link }}">Go South (🔗)</a>
		{% else %}
			<button disabled>Go South</button>
		{% endif %}
		</div>
		<div></div>
		
	</div>
</article>