---
layout: layout.njk
---
<article>
	<header>
		<h1>{{title}}</h1>
		<time>{{ date.toLocaleDateString() }}</time>
	</header>
	<main>
		{{ content | safe }}

		<a href ="/posts" style="margin-top: 3rem;">Back to posts</a>
	</main>
</article>
