<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bundle.css">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🚲</text></svg>">
	</link>
	<title>Alex White | {{ title }}</title>

	<script defer>
		(function () {
			var formData = new FormData();
			if (document.referrer.indexOf(window.location.hostname) == -1) {
				formData.append('referrer', document.referrer);
			}
			
			formData.append('mode', 'track');
			formData.append('page', window.location.pathname);
			fetch(`/analytics/index.php`, {
				method: 'POST',
				body: formData
			});
		})();
	</script>
</head>

<body>
	<header>
		<nav>
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
		</nav>
		<button style="font-size: 28px;border: none;background: none;color: white;cursor:pointer;" id="toggle-snow">
			❄
		</button>
	</header>
	<main>
		{{ content | safe }}
	</main>

	<footer>
		<div>Created by Alex White in Hilliard, Ohio. No LLMs used in this site, my writing or email replies. You do <strong>not</strong> have permission to train LLMs with content on this site.</div>
		<nav class="links">
			<ul>
				<li><a href="/feed.xml">Subscribe via RSS</a></li>
				<li><a href="mailto:hi@thatalexguy.dev">Contact Me</a></li>
				<li>
					<a href="/analytics" class="unstyled">
						<img src="/analytics/1sa.svg" width="80" height="15" alt="">
					</a>
				</li>
			</ul>
		</nav>
	</footer>
	<script src="/scripts/snow.js" defer></script>

</body>

</html>