<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bundle.css">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🚲</text></svg>">
	</link>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
	<title>Alex White | {{ title }}</title>

	<script defer>
		(function () {
			fetch(`/analytics/index.php?mode=track&referrer=${encodeURI(document.referrer)}`);
		})();
	</script>
</head>

<body>
	<header>
		<nav>
			{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
		</nav>
	</header>
	<main>
		{{ content | safe }}
	</main>
	<footer>
		<div>Created by Alex White in Hilliard, Ohio.</div>
		<nav class="links">
			<div><a href="/feed.xml">Subscribe via RSS</a></div>
			<div><a href="mailto:alex.white@hey.com">Contact Me</a></div>
			<div>
				<a href="https://www.barebones.com/products/bbedit/" class="unstyled">
					<img src="https://www.barebones.com/images/BuiltWithBBEdit.jpg" alt="Built with BBEdit" border="0">
				</a>
			</div>
			<div>
				<a href="/analytics">
					<img src="/analytics/1sa.svg" width="80" height="15" alt="">
				</a>
			</div>
		</nav>
	</footer>
</body>

</html>